DJANGO_SETTINGS_MODULE=config.settings.development
DJANGO_SECRET_KEY=replace-with-a-long-random-secret
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
POSTGRES_DB=ergonx
POSTGRES_USER=ergonx
POSTGRES_PASSWORD=replace-me
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_CONN_MAX_AGE=60
POSTGRES_CONNECT_TIMEOUT=5
JWT_ACCESS_MINUTES=15
JWT_REFRESH_DAYS=7
DJANGO_SECURE_HSTS_SECONDS=31536000
CORS_ALLOWED_ORIGINS=http://localhost:3000
CORS_ALLOW_CREDENTIALS=false
